torch>=1.10.0
torchaudio
pysndfx>=0.3.6
sox
uvicorn[standard]
fastapi
python-multipart
natasha
num2words~=0.5.12
numpy~=1.23.5
pymorphy2~=0.9.1
pymorphy2-dicts-uk~=2.4.1.1.1460299261
transliterate~=1.10.2
requests~=2.28.1
